<ion-view title="Comments" class="Comments">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="form-group">
            <label>Submit your Comments</label>
            <textarea id="inputTextMessage" class="form-control" placeholder="Enter message..."></textarea>
        </div>
        <div class="card">
            <div class="item item-divider">
                Avatar and Name here..
            </div>
            <div class="item item-text-wrap">
                Critique comments here.
            </div>
            <div class="item item-divider">

            </div>
        </div>
    </ion-content>
</ion-view>