<ion-view title="Submit a Video" class="submitAVideo-pane">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose Discipline
                </div>
                <select class="selections">
                    <option>Jiu-Jitsu</option>
                    <option>Boxing/ Muay Thai</option>
                    <option>Crossfit</option>
                    <option>Other</option>
                </select>
            </label>

        </form>
        <div class="item item-body">
            <img src="http://placehold.it/305x305" class="img-responsive">
            <input type="url" ng-model="newVidSubmission.VidSubmissionUrl" />
            <div class="panel-footer clearfix">
                <button class="button button-clear button-dark" ng-click="createVidSubmission()">Submit</button>`


</div>
            </div>
</ion-content>
</ion-view>