<ion-view title="My Videos" class="myVideos-pane">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/YzIpZeI5TcC6zXbJzHfW_Victory Profile.jpg" width="50%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="currentUser.UserName">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="currentUser.Email">
            </label>
            <label class="item item-input">
                <span class="input-label">Belt</span>
                <input type="text" ng-model="currentUser.Belt">
            </label>
            <button class="button button-full button-positive">
                Save Profile
            </button>
            <a id="login-button4" class="button button-outline  button-block" ng-click="logout()">Log Out</a>
        </form>
        <hr />
        <div class="list card" ng-repeat="vidSubmission in [1,2,3,4,5]">
            <div class="item item-avatar">
                <img src="img/YzIpZeI5TcC6zXbJzHfW_Victory Profile.jpg" />
                <h2>Greg McIntyre</h2>
            </div>
            <div class="item item-body">
                <img src="http://placehold.it/305x305" class="img-responsive">
                <p class="text-right">
                    <a href="#" class="subdued">5 Critiques</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>