.home-pane {
    background: url('../img/GREG BG2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#inputTextMessage{
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
}
.myVideos-pane {
    background-color: #B0C4DE;
}
.feed-pane {
    background-color: #B0C4DE;
}
.input-label {
    font-size: medium;
    font-weight:bold;
}
#header {
    color: whitesmoke;
}
.signup-pane {
    background: url('../img/Depositphotos_40491777_m.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.login-pane {
    background: url('../img/11700864_1128272793853172_8252874702209766246_n.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.submitAVideo-pane {
    background-color: #B0C4DE;
}