<ion-view title="Feed" class="feed-pane">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card" ng-repeat="vidSubmission in vidSubmissions">
            <div class="item item-avatar">
                <img ng-src="{{vidSubmission.User.PhotoUrl}}" />
                <h2>{{vidSubmission.User.UserName}}</h2>
            </div>
            <div class="item item-body">
                <youtube-video video-id="vidSubmission.VidSubmissionUrl" player-width="305" player-height="305"></youtube-video>
                <p class="text-right">
                    <a href="#/page1/feed/critique/{{vidSubmission.VidSubmissionId}}" class="subdued">5 Critiques</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>