<ion-view title="Home" class="home-pane">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 class="text-center" id="header">Skill Constructor</h1>
        <div class="row">
            <div class="col">
                <button ui-sref="signup" class="button  button-full button-calm">
                    Join Now
                </button>
            </div>
            <div class="col">
                <button ui-sref="login" class="button  button-full button-positive">
                    Log In
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>