<ion-view title="Login" class="login-pane">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="loginData.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <div>
            <a id="login-button4" class="bar bar-footer bar-positive" ng-click="login()">
                <div class="title">Log in</div>
            </a>
        </div>
    </ion-content>
</ion-view>